<aside class="sidebar">

    <div class="sidebar-logo">

        <div class="logo-icon">
            🔒
        </div>

        <div>

            <h2>
                PayFlow
            </h2>

            <small>
                HRMS
            </small>

        </div>

    </div>

    <ul class="menu">

    <li>
        <a href="/dashboard/">
            <i class="fa-solid fa-table-columns"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li>
        <a href="/employees/">
            <i class="fa-solid fa-users"></i>
            <span>Employees</span>
        </a>
    </li>

    <li>
        <a href="/attendance/">
            <i class="fa-regular fa-calendar-check"></i>
            <span>Attendance</span>
        </a>
    </li>

    <li>
        <a href="/leave/">
            <i class="fa-solid fa-briefcase"></i>
            <span>Leave Management</span>
        </a>
    </li>

    <li>
        <a href="/salary/">
            <i class="fa-solid fa-money-check-dollar"></i>
            <span>Salary Structure</span>
        </a>
    </li>

    <li>
        <a href="/payroll/">
            <i class="fa-regular fa-file-lines"></i>
            <span>Payslip Generation</span>
        </a>
    </li>

    <li>
        <a href="/history/">
            <i class="fa-regular fa-clipboard"></i>
            <span>Payslip History</span>
        </a>
    </li>

    <li>
        <a href="/documents/">
            <i class="fa-regular fa-file"></i>
            <span>Document</span>
        </a>
    </li>

    <li>
        <a href="/settings/">
            <i class="fa-solid fa-gear"></i>
            <span>Settings</span>
        </a>
    </li>

    <li>
        <a href="/logout/">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </a>
    </li>

</ul>

</aside>